
@{
    ViewBag.Controller = "Quản lý gia đình";
    ViewBag.Title = "Xếp gia đình";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row px-2">
    <div class="card">
        <div class="card-body">
            Chức năng đang cập nhật...
        </div>
    </div>
</div>