@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

    <div class="jumbotron">
        <div class="card-body bg-gradient">
            <form action="/Home/Dangky" method="post">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <div class="form-group">
                            Khóa tu
                            <div class="col-md-12">
                                @Html.DropDownList("IdKhoaTu", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-0">
                        <div class="form-group">
                            Họ và tên
                            <div class="col-md-12">
                                <input type="text" name="Hoten" value="" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-0">
                        <div class="form-group">
                            Pháp Danh
                            <div class="col-md-12">
                                <input type="text" name="Phapdanh" value="" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            CMND | CCCD
                            <div class="col-md-12">
                                <input type="text" name="CMND" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            Sinh nhật
                            <div class="col-md-12">
                                <input type="date" name="Namsinh" value="" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            Giới tính
                            <select class="form-control mb-0" id="gioitinh" name="Gioitinh" aria-label="Chọn giới tính">
                                <option value="nam" selected>Nam</option>
                                <option value="nu">Nữ</option>
                                <option value="khac">Khác</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            Email
                            <div class="col-md-12">
                                <input type="email" name="Email" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            Số điện thoại
                            <div class="col-md-12">
                                <input type="text" name="SDT" value="" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            Số điện thoại người thân
                            <div class="col-md-12">
                                <input type="text" name="SDT_nguoithan" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-0">
                        <div class="form-group">
                            Địa chỉ
                            <div class="col-md-12">
                                <input type="text" name="DiaChi" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            Hình thức di chuyển
                            <div class="col-md-12">
                                <select class="form-control mb-0" id="Dichuyen" name="Dichuyen" aria-label="Chọn hình thức di chuyển">
                                    <option value="chuavanduc" selected>Chùa Vạn Đức</option>
                                    <option value="tutuc">Tự Túc</option>
                                    <option value="khac">Khác</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            Mượn áo tràng
                            <div class="col-md-12">
                                <select class="form-control mb-0" id="Muon" name="Muon" aria-label="Chọn hình thức di chuyển">
                                    <option value="True" selected>Có Mượn</option>
                                    <option value="False">Không</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            Mượn áo tràng
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="Sizeao" value="" placeholder="Ví dụ: Size 28..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0">
                        <div class="form-group">
                            Ghi chú kích thước của bạn
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="Ghichu" value="" placeholder="Nặng ?, Cao ?" />
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-success btn-sm mt-2 animate-up-2" type="submit">Xác nhận đăng ký</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>