@model QuanLyKhoaTu.Models.TuSinh
@{
    ViewBag.Title = "Đăng ký thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
Review sau khi đăng ký
Xin chúc mừng bạn đã đăng ký thành công
<h1>
    @Html.DisplayFor(model => model.id)
</h1>
@Model.Hoten  
<p>
    @Model.Phapdanh
</p>
<form action="/Home/UpdateDiChung" method="post">
    <input type="hidden" name="IdKhoaTu" value="1" placeholder="Id Khóa Tu" class="form-control" />
    <input type="hidden" name="Idedit" value="@Model.id" placeholder="Id Tu Sinh" class="form-control" />
    <input type="text" name="IdTuSinh" value="" placeholder="Nhập ID của bạn bè của bạn tại đây.." class="form-control" />

    <div class="mt-3">
        <button class="btn btn-success btn-sm mt-2 animate-up-2" type="submit">Thêm mới</button>
    </div>
</form>

 