@{
    ViewData["Title"] = "Sơ đồ chỗ ngủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row align-items-end justify-content-between border-bottom g-3 mt-2 pb-3">
    <div class="col-auto ms-3">
        <h5><i class="ti ti-table-export"></i> Sơ đồ chỗ ngủ</h5>
        <p class="text-body-tertiary lh-sm mb-0">
            <span class="me-3 text-secondary"><i class="ti ti-point"></i> Chỗ ngủ có thể xếp được</span>
            <span class="me-3 text-danger"><i class="ti ti-point"></i> Chỗ ngủ không xếp được</span>
        </p>
    </div>
    <div class="col-12 col-md-auto me-2">
        <div class="row g-2 gy-3">
            <div class="col-auto flex-1">
                <select id="selectArea" class="form-select rounded-1 me-1"></select>
            </div>
            <div class="col-auto">
                <a id="btnAdd" class="btn btn-success rounded-1"><i class="ti ti-plus"></i> Thêm mới</a>
            </div>
        </div>
    </div>
</div>
<div id="bedMatrixContainer" class="table-responsive mt-2"></div>
<div class="modal fade" id="chonguModal" tabindex="-1">
    <div class="modal-lg modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin Thành viên</h5>
                <a href="#" class="btn btn-sm btn-light" data-bs-dismiss="modal">
                    <i class="ti ti-x"></i>
                </a>
            </div>
                <div class="modal-body">
                    <input type="hidden" id="bedId">
                    <div class="mb-3">
                        <label>Khu vực</label>
                        <select id="areaSelect" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label>Hàng</label>
                        <input type="number" id="rowNumber" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Số chỗ ngủ</label>
                        <input type="number" id="bedNumber" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Mã (VD: A001, A002,...)</label>
                        <input type="text" id="name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Available</label>
                        <select id="isAvailable" class="form-control">
                            <option value="true">Có thể xếp chỗ</option>
                            <option value="false">Không xếp được</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btnSave">Lưu thay đổi</button>
                </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Bed.js"></script>
}

