@{
    ViewData["Title"] = "Trang chủ";
}
<div class="row justify-content-between">
    <div class="col-6 col-md-4 col-xxl-2 text-center border-translucent border-start-xxl border-bottom-xxl-0 border-bottom border-end border-end-md-0 pb-4 pb-xxl-3 pt-4 pt-md-0">
        <span class="uil fs-5 lh-1 uil-envelope-upload text-info"></span>
        <h1 class="fs-5 pt-3" id="count_khoatu">1,866</h1>
        <p class="fs-9 mb-0">Khóa tu</p>
    </div>
    <div class="col-6 col-md-4 col-xxl-2 text-center border-translucent border-start-xxl border-end-xxl-0 border-bottom-xxl-0 border-end border-bottom pb-4 pb-xxl-3 ">
        <span class="uil fs-5 lh-1 uil-envelope text-primary"></span>
        <h1 class="fs-5 pt-3" id="count_thanhvien">2,800</h1>
        <p class="fs-9 mb-0">Tổng thành viên</p>
    </div>
    <div class="col-6 col-md-4 col-xxl-2 text-center border-translucent border-start-xxl border-bottom-xxl-0 border-bottom border-end border-end-md-0 pb-4 pb-xxl-3 pt-4 pt-md-0">
        <span class="uil fs-5 lh-1 uil-envelopes text-primary"></span>
        <h1 class="fs-5 pt-3" id="count_thamgia">1,366</h1>
        <p class="fs-9 mb-0">Đang tham gia</p>
    </div>
    <div class="col-6 col-md-4 col-xxl-2 text-center border-translucent border-start-xxl border-bottom-xxl-0 border-bottom border-end border-end-md-0 pb-4 pb-xxl-3 pt-4 pt-md-0">
        <span class="uil fs-5 lh-1 uil-envelope-open text-info"></span>
        <h1 class="fs-5 pt-3" id="count_dave">1,200</h1>
        <p class="fs-9 mb-0">Đã về</p>
    </div>
    <div class="col-6 col-md-4 col-xxl-2 text-center border-translucent border-start-xxl border-bottom-xxl-0 border-bottom border-end border-end-md-0 pb-4 pb-xxl-3 pt-4 pt-md-0">
        <span class="uil fs-5 lh-1 uil-envelopes text-primary"></span>
        <h1 class="fs-5 pt-3" id="count_controng">1,366</h1>
        <p class="fs-9 mb-0">Chỗ ngủ còn trống</p>
    </div>
    <div class="col-6 col-md-4 col-xxl-2 text-center border-translucent border-start-xxl border-bottom-xxl-0 border-bottom border-end border-end-md-0 pb-4 pb-xxl-3 pt-4 pt-md-0">
        <span class="uil fs-5 lh-1 uil-envelope-open text-info"></span>
        <h1 class="fs-5 pt-3" id="count_tongchongu">1,200</h1>
        <p class="fs-9 mb-0">Tổng số chỗ ngủ</p>
    </div>
</div>

<div class="card mt-3 mb-3">
    <div class="card-header">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto me-3">
                <div class="spinner-grow text-success me-2" role="status" style="width:15px;height:15px;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span id="courseName" class="text-success">Khóa tu Phật thất</span>
            </div>
            <div class="col-12 col-md-auto me-2">
                <div class="row g-2 gy-3 align-items-center">
                    <div class="col-auto flex-1">
                        <span class="text-body-tertiary lh-sm mb-0 ms-5">
                            <span class="me-3 text-success"><i class="ti ti-point"></i> Đang tham gia</span>
                            <span class="me-3 text-warning"><i class="ti ti-point"></i> Đã về</span>
                        </span>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="searchInput" class="form-control w-100" placeholder="Tìm kiếm thành viên...">
                    </div>
                    <div class="col-auto">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ti ti-category"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="javascript:Loadlist('status')"><i class="ti ti-sort-descending-2"></i> Tình trạng</a></li>
                                <li><a class="dropdown-item" href="javascript:Loadlist('date_desc')"><i class="ti ti-sort-ascending-2"></i> Ngày đăng ký</a></li>
                                <li><a class="dropdown-item" href="javascript:Loadlist('date')"><i class="ti ti-sort-descending-2"></i> Ngày đăng ký</a></li>
                                <li><a class="dropdown-item" href="javascript:Loadlist('name')"><i class="ti ti-sort-descending-2"></i> Tên A-Z</a></li>
                                <li><a class="dropdown-item" href="javascript:Loadlist('bed')"><i class="ti ti-sort-descending-2"></i> Vị trí ngủ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body"> 
        <div class="table-responsive gy-5">
            <table class="table table-bordered table-hover table-responsive">
                <thead class="bg-success text-white">
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Mã thành viên</th>
                        <th>Họ và tên</th>
                        <th>Pháp danh</th>
                        <th class="text-center">Giới tính</th>
                        <th class="text-center">Năm sinh</th>
                        <th class="text-center">Số điện thoại</th>
                        <th class="text-center">SĐT Người thân</th>
                        <th class="text-center">Vị trí ngủ</th>
                        <th class="text-center">Ngày đăng ký</th>
                        <th class="text-center">Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="dashboardTable">
                    <tr>
                        <td colspan="10" class="text-center">Đang "tải dữ liệu" vui lòng đợi!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Dashboard.js"></script>
}

