
@{
    ViewBag.Controller = "Permission";
    ViewBag.Title = "Hạn chế";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-8 mx-auto">
        <div class="card z-index-0 mt-2">
            <div class="card-header text-center">
                <img src="~/assets/img/illustrations/permission.png" alt="404" height="250" />
                <h3>Oops...</h3>
                <p class="text-secondary text-sm"><span class="text-danger"><i class="icon-bullhorn"></i> THÔNG BÁO:</span> <i> Xin lỗi bạn không có quyền vào chức năng này!!,<br /> Hãy liên hệ với admin để set quyền truy cập nhé!</i></p>
                <p class="text-secondary text-sm text-italic">This is not a fault, just an accident that was not intentional!</p>
                <a href="/Admin" class="btn btn-dark btn-sm mb-0"><i class="icon-arrow-circle-left"></i> Trở lại trang chủ</a>
            </div>
        </div>
    </div>
</div>
